doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/dist/main.css')
body(ng-app= title)
    .header
        include header
    ui-view
    .container
        block content
        #rooms
    hr
    .container
        hr
        #conversation
        input(id="data")
        input(type="button" id="datasend" value="send")
        hr
        
        input(id="roomname")
        input(type="button" id="roombutton", value="create room")
                    
    block foot
        #footer
            div.about-page
                p Bagel by Cindy Hu from the Noun Project
                p realised by
                    a(href="https://github.com/TonyChG/" taget="_blank") TonyChG
                    | +
                    a(href="https://github.com/polymorphl" taget="_blank") Polymorphl
                        
    script(src="dist/lib.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js")
    script(src="http://localhost:9000/socket.io/socket.io.js")
    script(src='/dist/bundle.js')
