<h1>Home</h1>
<div class="divider"></div>

<div class="login" ng-controller="LoginCtrl as vm">
    <div class="container">
        <button class="button" ng-click="vm.anonymous()" ng-show="!vm.isLoggedIn">
            <i class="fa fa-google-plus-square fa-2x"></i>
            <span>Play Game</span>
        </button>
        <button class="button" ng-click="vm.logout()" ng-show="vm.isLoggedIn">
            <i class="fa fa-google-plus-square fa-2x"></i>
            <span>Logout</span>
        </button>
    </div>
</div>

<div ui-view></div>
