// UTILS

$footer_bg: #DAD06F;
$footer_link_color: #E55003;

// GAME

$grid_background: #848484;
$grid_foreground: #2E64FE;
$box_color: #2838C4;
$clicked_color: #4EA2E7;
$possible_color: #FFEE40;
$played_ship_color: #000000;
$played_nothing_color: #36B5FF;

$aircraft_color: #FFFFFF;
$battlecruiser_color: #B18904;
$destroyer_color: #298A08;
$submarine_color: #61210B;
$torpedo_color: #8A0829;
